<html>
<head>
	<link rel="stylesheet" type = "text/css" href= "/site_media/teste.css"/>
	<script type="text/javascript" src="/site_media/jquery.js"></script>
	{%block external%} {%endblock%}
	<div id="header">LECTURE RECORDINGS </div>
	<div id="subheader"> UTFPR </div>
	<title> Aulas UTFPR | {% block title%} {%endblock%}</title>
</head>
<body>
	<div class="flex">
	<ul class="nav">
		<li class="nav_item"><a  href="/"> home </a></li>
	{% if user.is_authenticated %}
		<li class="nav_item"> <a href= "/user/{{ user.username }}"/>{{ user.username }} </a></li>
		<li class="nav_item"> <a href= "/class"> disciplinas </a></li>
		<li class="nav_item"> <a href= "/search"> busca </a></li>
		<li class="nav_item"> <a href= "/logout"> logout </a></li>
	{%else%}
		<li class="nav_item"> <a href= "/login"> login </a></li>
		<li class="nav_item"> <a href= "/register"> cadastrar </a></li>
	{% endif %}
	</ul>
	</div>
	<h1> {%block head %} {%endblock%}</h1>
	{%block content%} {%endblock%}
</body>
</html>